<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.donottouch6.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".P000Menu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".P001CoordinatorLayout"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".P000Menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".P000Menu">
            </meta-data>
        </activity>

        <activity android:name=".P002FragmentReview"/>

        <activity android:name=".P003TwoFragmentCommunication"/>

        <activity android:name=".P004FragmentProgrammatically"/>

        <activity android:name=".P005FragmentProg2"/>

        <activity android:name=".P006Fragmentv4"/>

        <activity android:name=".P007Fonts"/>

        <activity android:name=".P009DrawerLayoutNew"/>

        <activity android:name=".P010DrawerLayoutFull"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".P011LayoutProgrammatically"/>

        <activity android:name=".P012TabHostReview"/>

        <activity android:name=".P013TabHostNew"/>

        <activity android:name=".P014ViewPagerTransforms"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".P015ViewPagerPagerTabStrip"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".P017FragmentReplaceProgrammatically"/>

        <activity android:name=".P018SwipeRefreshLayout"/>

        <activity android:name=".P020SearchableListView"
            android:windowSoftInputMode="stateHidden"
            />

        <activity android:name=".P021ExpandableListView"/>

        <activity android:name=".P022ParentAndChild"/>
    </application>

</manifest>
